.btn-checkbox input {
  display: none;
}
label.btn-checkbox {
  cursor: pointer;
  user-select: none;
  color: hsl(202deg 100% 15%);
  border-radius: 0.3rem;
  overflow: none;
}
label.btn-checkbox:hover {
  color: black;
  background: #0000000d;
}
.btn-checkbox input:checked ~ span {
  color: #2d9bf0;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
}
.btn-checkbox span {
  padding: 0.4rem;
}
