.btn-radio input {
  display: none;
}
label.btn-radio {
  cursor: pointer;
  user-select: none;
  color: hsl(202deg 100% 15%);
  border-radius: 0.3rem;
  /* overflow: none; */
  display: block;
}
label.btn-radio:hover {
  color: black;
  background: #0000000d;
}
.btn-radio > input:checked ~ span {
  color: #2d9bf0;
}
.btn-radio span {
  padding: 0.4rem;
}
