.color-palette {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 0.9rem 0rem;
  gap: 0.5rem;
}
.color-palette button {
  padding: 0rem;
  border-radius: 100px;
  width: 1.5rem;
  height: 1.5rem;
}
.color-palette button > span {
  font-size: 1.8rem;
}
