.editor {
  position: absolute;
  z-index: 3;
  background: white;
  display: flex;
  border-radius: 0.3rem;
  z-index: 100;
}
.control-groups {
  display: grid;
  grid-auto-flow: column;
  gap: 1px;
  background: hsl(0deg 0% 85%);
  cursor: pointer;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
  box-shadow: 0px 3px 8px -3px #25346b3b;
  overflow: hidden;
}
.group {
  gap: 0.4rem;
  display: grid;
  grid-auto-flow: column;
  padding: 0.45rem 0.75rem;
  background: white;
}
.context button,
.editor button {
  background-color: transparent;
  border: 0;
  padding: 0;
  color: hsl(202deg 100% 15%);
  cursor: pointer;
}
.context button:hover,
.editor button:hover {
  color: hsl(0deg 0% 0%);
}
.context {
  z-index: 200;
  position: absolute;
  transform: translateY(-3rem) translateX(-50%) translateX(1rem)
    translateY(-100%);
  box-shadow: 0px 2px 6px -7px black;
}
.wrapper {
  padding: 0.4rem;
  display: grid;
  gap: 0.4rem;
}

.font-size {
  display: grid;
}
.font-size input[type='text'] {
  padding: 0;
  margin: 0;
  width: 2em;
  text-align: center;
  border: 0;
  font-size: 0.95rem;
  font-family: 'Inter';
  grid-area: num;
}
.font-family {
  display: flex;
}
.font-family > button {
  font-size: 1rem;
}
.highlight-container {
  position: absolute;
  outline: 1px solid hsl(213deg 82% 63%);
  z-index: 4;
}
.edit-text {
  position: absolute;
  outline: 2px solid red;
  display: block;
  z-index: 7;
  margin: 0;
  padding: 0.4rem;
  box-sizing: border-box;
  outline: 0;
  border: 0;
}
.shape-drag-handle {
  z-index: 7;
  cursor: pointer;
}
