.board {
  position: absolute;
  width: 5000px;
  height: 5000px;
  outline: 1px solid gray;
  background-color: hsl(0deg 0% 95%);
  background: url('grid.svg');
  user-select: none;
}
.board > div {
  position: absolute;
  z-index: 2;
}

.board > svg {
  position: absolute;
  width: 5000px;
  height: 5000px;
  top: 0;
  left: 0;
}
/* .ind1 {
  pointer-events: none;
} */
